.registro-page-container {
    min-height: 100vh;
    background-color: #fcfcfc;
    padding: 60px 20px;
}

.registro-card {
    background: white;
    padding: 3rem;
    border-radius: 12px;
    width: 100%;
    max-width: 520px;
}

.custom-input {
    border-radius: 10px;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.custom-input:focus {
    border-color: #00897b;
    box-shadow: none;
}

.input-group-text {
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #00897b;
    border-color: #00897b;
}

.btn-porter-main {
    background-color: #00796b;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-porter-main:hover {
    background-color: #004d40;
    color: white;
}

.link-porter {
    color: #00796b;
    text-decoration: none;
}

.link-porter:hover {
    text-decoration: underline;
}


.small {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .registro-card, .login-form {
        padding: 2rem 1.5rem; 
        max-width: 95%;      
        margin: 10px auto;
    }

    .registro-page-container {
        padding: 20px 10px;
    }

    .display-6 {
        font-size: 1.8rem; 
    }

    .contacto-hero-img, .contacto-hero-section {
        min-height: 200px;
    }
}