
.aboutus-hero {
    height: 60vh;
    min-height: 400px;
    background: url('/imagenes/restaurante1.jpg') center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}


.text-teal {
    color: #00796b !important;
}

.teal-light-bg {
    background-color: rgba(0, 121, 107, 0.1);
}


.icon-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-card {
    transition: 0.3s;
    border: 1px solid #eee;
}

.value-card:hover {
    transform: translateY(-5px);
}


.team-img-wrapper {
    width: 180px;
    height: 180px;
}

.team-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mision-section {
    background-color: #00796b;

}

.mision-section p {
    line-height: 1.6;
    opacity: 0.95;
}


@media (max-width: 768px) {
    .display-3 {
        font-size: 2.5rem;
    }

    .display-5 {
        font-size: 2rem;
    }

    .mision-section p {
        font-size: 1.2rem !important;
    }
}